<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<title>MADE IN ASTEC</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<link href="/css/non-responsive.css" rel="stylesheet" />

<!-- data tabela -->
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />

<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />

<link rel="icon" href="/image/applie-touch-icon.png" />
</head>

<body>
	<div th:fragment="navbar">
		<div class="page-top"></div>
		<!-- Static navbar -->
		<nav class="navbar navbar-default navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" th:href="@{/}">MADE IN ASTEC</a>
				</div>
				<div id="navbar">
					<ul class="nav navbar-nav navbar-left">
						
						<form class="navbar-form" th:action="@{/searchBook}" method="post">
							<div class="form-group">
								<input type="text" name="keyword" class="form-control"
									placeholder="Pesquise aqui" />
							</div>
							<button type="submit" class="btn btn-default">Procurar</button>
						</form>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/carrinhoCompra/carrinho}">CARRINHO</a></li>
						<li><a sec:authorize="isAnonymous()" th:href="@{/login}">MINHA CONTA</a></li>
						<li><a sec:authorize="isAuthenticated()"
							th:href="@{/perfil}">MINHA CONTA</a></li>
						<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">DESLOGAR</a></li>
					</ul>
				</div>
				
			</div>
			
		</nav>
	</div>

	<div th:fragment="footer">
		<br />
		<br />
		<footer>
			<div class="row">
				<div class="col-xs-3 footerleft">
					<div class="logofooter">
						<a th:href="@{/}"><img class="img-responsive"
							src="/image/logot.png" style="width: 200px;" /></a>
					</div>
					<p>
						
					</p>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">CONTATO</h6>
					<ul class="post">
						<p>
							<i class="fa fa-map-pin"></i> Teodoro Sampaio<br /> São Paulo
						</p>
						<p>
							<i class="fa fa-phone"></i> Telefone : (11)4666-6666
						</p>
						<p>
							<i class="fa fa-envelope"></i> E-mail : contatoloja@madeinastec.com.br
						</p>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">LINKS</h6>
					<ul class="footer-ul">
						<li><a href="#"> Política de Privacidade</a></li>
						<li><a href="#"> Termos &#38; Condições</a></li>
						<li><a href="#"> Tire sua dúvida</a></li>
					</ul>
				</div>
				<div class="col-xs-3 paddingtop-bottom">
					<h6 class="heading7">HORÁRIOS</h6>
					<div class="post">
						<p>Segunda - Sexta: 9hrs - 18hs</p>
						<p>Sábados: 9hrs - 16hrs</p>
					</div>
				</div>
			</div>
		</footer>

		<div class="copyright">
			<div class="col-md-6">
				<p>© 2018 - Todos os direitos reservados</p>
			</div>
			<div class="col-md-6">
				<ul class="bottom_ul">
					<li><a href="#">Sobre nós</a></li>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Trabalhe conosco</a></li>
					<li><a href="#">Localização</a></li>
				</ul>
			</div>
		</div>
	</div>

	<div th:fragment="body-bottom-scripts">
		<script th:src="@{/js/jquery.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>

		<script th:src="@{/js/scripts.js}"></script>

		<!-- data table -->
		<script th:src="@{/js/jquery.dataTables.min.js}"></script>
		<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
	</div>
</body>
</html>